/* Created by SUNIL KUMAR SRIDHAR, Date: 08-12-2020 */

/* Styles for the body */
body {
    background-color: rgb(85, 223, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styles for the container */
#container {
    width: 99%;
}

/* Styles for the h1 */
h1 {
    background-color: rgb(56, 136, 56);
    color: white;
    padding: 1em;
    text-align: left;
}

/* Styles for the main element */
main {
    background-color: white;
    box-shadow: black 5px 5px;
    margin-top: -1.3em;
    padding: 1em;
}

/* Styles for the footer */
footer {
    margin-top: 1em;
    font-size: .7em;
    text-align: center;
    font-weight: bold;
}

